.App {
  flex-direction: row;
  text-align: center;
  color: aliceblue;
}

@media screen and (max-width: 480px) {
}

h1 {
  /*color:#3a015c;*/
  color: #687fa6;
}

p {
  display: inline;
  margin: 0 0 0 1rem;
  color: white;
}

#wrapper {
  flex-direction: row;
  align-items: center;
}

.forms {
  display: block;
  margin: 2vh auto;
  background-color: transparent;
  border: 3px solid #687fa6;
  border-radius: 10px;
  width: 20rem;
  color: #687fa6;
}

input[type="text"] {
  height: 5vh;
  font-size: 2rem;
  padding: 1rem;
}

input[type="text"]:focus {
  outline: 0;
}

button {
  width: 100px;
  height: 50px;
  align-self: center;
}
button:hover {
  background-color: #687fa6;
  color: #11001c;
  border-color: #11001c;
  cursor: pointer;
}
